<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>INICIAR SESIÓN</title>
      {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/estiloCuerpo.css' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/estiloLogin.css' %}">
  </head>
  <body>
  <header><div id="arriba"></div></header>

  <div id="general">
  <div id="inicioSesion">
      <h1 class="app">DOCTYTECH</h1>
      <h3 class="textBienvenidos">Bienvenido/a</h3>
      <h4 class="textInicia">Por favor inicie sesión</h4><br>

    <form action="{% url 'principal' %}" method="post" id="formInicioSesion">{% csrf_token %}
        <label><b>Correo</b></label>
        <input type="email"  name="email">
        <label><b>Contraseña</b></label>
        <input type="password" name="psw">
        <button id="inicioSesionButton" type="submit"><span>INICIAR SESION</span></button>
    </form>
   </div>
   </div>
  </body>
</html>
<!--required-->
