@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

* {
    margin: 0;
    box-sizing: boder-box;
}

body {
    font-family: 'Orienta', sans-serif;
    background: #F3B777;
}

header {
    padding: 40px;
    background: #F3B777;
    color: #fff;

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}